.same1{
    /* display: inline-block;  */
    float: inline-end; 
    width:700px;
}
.same img{
   background-color: rgb(69, 67, 67);
   margin-top: 10px;
   margin-left: 250px;
  
}
.same{
display:block;
width:1350px;
border:groove 2px;
border-style:hidden;
padding-top: 25px;
 position:sticky; 
 top:0;
z-index: 2;  
margin-bottom: 40px;
margin-left:5px;
padding-right: 2px;
background-color: white;
}
.same1 a {
   text-decoration: none;
   color: black;
   padding-left: 10px;
   padding-top: 10px;
   line-height: 4;
   margin-left: 10px;
}
.same1 nav{
   display: inline;  
}

.shop{
margin-top: 100px;
margin-left: 50px;
background-image: url('foodnew2.jpg');
background-size: cover;
height: 900px;
background-repeat: no-repeat;
margin-bottom: 50px;
}
.shop h2{
   color: rgb(150, 12, 12);
   padding-left: 100px;
   padding-top: 300px;
   font-size: 70px;
}
.shop h4{
   padding-left: 120px;
   font-size: 30px;
   font-style: italic;
   color:chocolate;
}
.info{
   margin-top: 100px;
}
.info h3{
   text-align: center;
   padding-bottom: 20px;
   font-size: 30px;
}
.info p{
   
font-size: 20px;
padding-left: 100px;
padding-right: 150px;
text-align: justify;
text-align: center;
font-style: italic;
padding-bottom: 20px;
}
.sort1, .sort2{
   display: flex;
   justify-content:space-evenly ;
   padding-top: 50px;
   padding-bottom: 50px;
}
.sort1 img, .sort2 img{
   width:350px;
   height:300px;
}
.s1{
   padding-right: 10px;
}
.rs img{
   width:25px;
   height:25px;
   padding-left: 120px;
   }
.sort1 h4,.sort2 h4{
   text-align: center;
   font-size: 25px;
}
 /* Steak & Creamy */

.s1, .s2{
font-size: 20px;
font-style: italic;
color: rgb(242, 143, 15);
}
.s1{
   padding-left: 50px;
   padding-right:40px;
}
.rs {
   display: flex;
}
.rs h6{
   margin-top: 0px;
   font-size: 25px;
}
.about{
   display: flex;
   background-color: black;
   color: white;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   height:400px;
   width:1242px;
}
.aboutus{
   margin-top:100px;
   margin-left: 70px;
   width:400px;
}
.aboutus p{
   padding-top: 50px;
   margin-left: 2px;
   font-style: italic;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
.find{
  margin-top:70px;
   margin-left: 120px; 
}
.aboutus h3{
text-align: center;
color: burlywood;
}
.find p{
   padding-left: 30px;
   padding-bottom: 60px;
   font-style: italic;
   font-size: 30px;
   color: burlywood;
}
.news h3{
    margin-top: 100px;
    margin-left: 150px; 
    color: burlywood;
}
.news input{
   padding-left: 20px;
   margin-left: 130px;
   margin-top: 70px;
}
.footer{
   height:80px;
   background-color: rgb(56, 53, 53);
   color:darksalmon;
   font-style: italic;
   width: 1242px;
    margin-left: 50px; 
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}
